_Store
*.swp
*.swo
.idea/
*.css.css
node_modules/
/dump.rdb
.vscode
src/.vscode
viewer/uncorn.log
.DS_Store
*.sublime-project
*.sublime-workspace
content.iml
.directory
/bin/create-script
/bin/fifi
package-lock.json
.fp-service
.repos
.current
yarn-error.log
/meta_cache
/compilers
/viewer
/tmp
/components
/src/templates
/share/templates
/build